<!-- dashboard.html -->
{% extends 'base1.html' %}

{% block content %}
<h1>Dashboard</h1>
<h1>WELCOME {{user}}</h1>
<h1> NEXT MEAL MENU</h1>
{{next_meal_menu}}
<div class="row gy-5">
  

<div class="col-lg-4 menu-item">
  <a href="menu/menu-item-1.png" class="glightbox"><img src="menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
  <h4>{{next_meal_menu}}</h4>
  <p class="ingredients">
    Lorem, deren, trataro, filede, nerada
  </p>
  <p class="price">
    $5.95
  </p>
 
</div>
<form action="mark_presence">
    <button type="submit">MARK ATTENDANCE</button>
  </form>
  

{{error_message}}
{{success_message}}

<!-- Implement the logic for displaying the menu of the current month -->


{% endblock %}
