

{% block content %}
    <h1>Staff Dashboard</h1>

    <h2>Feedback</h2>
    <table>
        <tr>
            <th>Date Submitted</th>
            <th>Content</th>
            <th>Image</th>
        </tr>

        {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.submitted_date }}</td>
                <td>{{ feedback.content }}</td>
                {% if feedback.image %}
                    <td><img src="{{ feedback.image.url }}" width="200" height="200"></td>
                {% else %}
                    <td>No image</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <h
   
 
{% endblock %}
