
{% block content1 %}
<h1>Menu</h1>

{% for menu_item in menu_items %}
<div>
  
    <h2>{{ menu_item.date }}</h2>
    <span style="color: green; font-weight: bold;">Breakfast</span>
    
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{menu_item.item1}}</label>
        <input type="text" id="item123" name="item123" value="{{menu_item.item1}}" required>
        <input type="submit" value="Submit">
        {% csrf_token %}
    <p>{{ menu_item.item2}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item2}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item3}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item3}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item4}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item4}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item5}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item5}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item6}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item6}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item7}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item7}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item8}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item8}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item9}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item9}}</label>
        <input type="text" id="item123" name="item123" required>
    <span style="color: red; font-weight: bold;">Lunch</span>

    <p>{{ menu_item.item10}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item10}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item11}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item11}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item12}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item12}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item13}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item13}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item14}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item14}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item15}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item15}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item16}}</p>
    <label for="name">Rating:</label>
    <input type="text" id="name123" name="name123" required>
    <label for="item">{{ menu_item.item16}}</label>
    <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item17}}</p>
    <label for="name">Rating:</label>
    <input type="text" id="name123" name="name123" required>
    <label for="item">{{ menu_item.item17}}</label>
    <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item18}}</p>
    <label for="name">Rating:</label>
    <input type="text" id="name123" name="name123" required>
    <label for="item">{{ menu_item.item18}}</label>
    <input type="text" id="item123" name="item123" required>
    <span style="color: blue; font-weight: bold;">Dinner</span>
    <p>{{ menu_item.item19}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item19}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item20}}</p>
    <label for="name">Rating:</label>
    <input type="text" id="name123" name="name123" required>
    <label for="item">{{ menu_item.item20}}</label>
    <input type="text" id="item123" name="item123" required>
   
    <p>{{ menu_item.item21}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item21}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item22}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item22}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item23}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item23}}</label>
        <input type="text" id="item123" name="item123" required>
    <p>{{ menu_item.item24}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Rating:</label>
        <input type="text" id="name123" name="name123" required>
        <label for="item">{{ menu_item.item24}}</label>
        <input type="text" id="item123" name="item123" required>
    
        <input type="submit" value="Submit">
        {% csrf_token %}
      </form>
   
{% endfor %}

    

{% endblock %}
